<div id="galleries_photos">

<h1>Photos du spectacle</h1>
 <!-- portfolio section -->

      <div class="photos">

        <ul >

        <div class="row">

            <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <img class="img-responsive" src=<%= image_path("gallerie/1.jpg") %> >
            </li>
            <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <img class="img-responsive" src=<%= image_path("gallerie/2.jpg") %> >
            </li>
            <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                 <img class="img-responsive" src=<%= image_path("gallerie/3.jpg") %> >
            </li>
            <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                 <img class="img-responsive" src=<%= image_path("gallerie/4.jpg") %> >
            </li>
            <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <img class="img-responsive" src=<%= image_path("gallerie/5.jpg") %> >
            </li>
         </div>








          </ul>
    </div>


</div>



    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>